<div class="greet"><h1>Здравствуйте, {{user.name}}!</h1></div>

<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <style>
   html {
    height: 100%; 
    width: 100%;
    background: #000 
          no-repeat right bottom; /* Путь к графическому файлу с фоном */
    color: #fff; /* Белый цвет текста */
   }
  </style>
 </head>
 <body>
 </body>
</html>



