<div class="greet">Форма авторизации:</div>

<form action="/users/signin" method="POST">
  <input type="text" name="name" placeholder="введите имя">
  <input type="password" name="password" placeholder="введите пароль">
  <button>Войти</button>
</form>

<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <style>
   html {
    height: 100%; 
    width: 100%;
    background: #000 
          no-repeat right bottom; /* Путь к графическому файлу с фоном */
    color: #fff; /* Белый цвет текста */
   }
  </style>
 </head>
 <body>
 </body>
</html>

